.section-container {
  
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 16px;
}

.text-container {
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.collapse-btn {
  color: #34c934;
  cursor: pointer;
}

.card-container {
  margin: 20px 5px;
}

.card-text {
  color: white;
  
 
}