.card {
  background-color: #ffffff;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;  /* Adjust the card height to accommodate the larger image */
}

.card-image img {
  height: 200px;  /* Increased height of the image */
  width: 100%;    /* Ensures the image spans the full width */
  object-fit: cover; /* Ensures the image maintains its aspect ratio and fills the container */
}

.card-text {
  background-color: #121212;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71px;
  height: 23px;
  padding: 4px, 8px, 4px, 8px;
  border-radius: 10px;
  margin: 5px;
}

.title {
  margin-top: 6px;
  font-size: 14px;
  color: #ffffff;
}
